<div id="<%= dom_id mypost %>">
  <p>
    <strong>Body:</strong>
    <%= mypost.body %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= mypost.access %>
  </p>

  <p>
    <strong>Passcode:</strong>
    <%= mypost.passcode %>
  </p>

</div>
